
  

  $primary-color: #f2f2f2;
  $secondary-color: white;
  $color-loc: #d3d3d3;
  

  


  .loc 
  {
    background-color: $color-loc;
    display: flex;
    justify-content: center;
    padding: 1.1rem;

    input{
        background-color: $color-loc;
        border: none;
      

    }
  }


  .explore{ background-color: $primary-color;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     padding:10% 15%;

     .explore__btn{
        border: none;
        padding: 10px 30px;
        background: linear-gradient(135deg,#FF79DA, #9356DC);
        border-radius: 40px;
        color:$secondary-color; }
     }

     .howtouse {
         h1 {width: 100%;}
         .howtouse__steps {
            padding:10%; 
            ul {padding: 2rem ;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 2rem;
            .step {box-shadow: 0 0 0.8rem black;
            border-radius: 50px;
            padding: 20px 0 ;
            
            display: flex;
            align-items: center;
            width: 100%;
            background-color: $primary-color;
     
        margin-bottom: 20px;
                .number {
                    display: inline;
                    height: 2rem;
                    width: 2rem;
                    background-color: #9356DC;
                    text-align: center;
                    line-height: 2rem;
                    color: $secondary-color;
                    font-weight: 500;
                    border-radius: 50%;
                    margin-left: -1rem;
                    margin-right: 2rem;
                }
                .fas {color: grey;
                margin-right: 1.5rem;}
    }

            }}
          
     }

  .main {
      background-color: $primary-color;
    
  }


  .restaurants {
      .restaurant__card {
          display: block;
          border-radius: 1rem;
          overflow: hidden;
          margin-bottom: 1.3rem;
          background-color: $secondary-color;
        .restaurant__card-image{
             width: 100%;
             height: 10rem;}
        .restaurant__card-container{
             display: flex;
             flex-direction:row;
             justify-content:space-between;
             .like{
                 margin-right: 20px;
                 margin-top: 20px;
                 
             }
           
         }

      }


      footer {
          margin-top: 2rem;
      }
       

  }