/*loader*/
/*pages*/
/*like*/
.like {
  margin-right: 20px;
}
.like .custom-checkbox {
  background: transparent;
}
.like input#restaurant1 {
  display: none;
}
.like .fancy-checkbox input[type=checkbox],
.like .custom-checkbox .checked {
  display: none;
}
.like .custom-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
}
.like .custom-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
.like i {
  cursor: pointer;
  font-size: larger;
}
.like .fas {
  -webkit-text-stroke: 1px black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background-position-y: 100px;
  background-repeat: no-repeat;
  transition: 800ms ease all;
}
.like .fas:hover {
  background-position-y: 0;
  -webkit-text-stroke-color: transparent;
}
.like .fas:hover::before {
  -webkit-text-stroke-color: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
}

/*general*/
/*html, titres, police, container etc*/
body {
  font-family: "roboto", "sans serif";
}
body a {
  text-decoration: none;
}

.main {
  background-color: #f2f2f2;
  padding-bottom: 2em;
}

/*loader*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-animation: loader-anim 3s ease-in forwards;
          animation: loader-anim 3s ease-in forwards;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

@-webkit-keyframes loader-anim {
  5% {
    opacity: 1;
  }
  92% {
    opacity: 0.9;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader-anim {
  5% {
    opacity: 1;
  }
  92% {
    opacity: 0.9;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader__logo {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  z-index: 3;
  -webkit-animation: loader-logo 3s ease-in-out;
          animation: loader-logo 3s ease-in-out;
  font-family: "roboto", sans-serif;
}

@-webkit-keyframes loader-logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale 1;
  }
}

@keyframes loader-logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale 1;
  }
}
.loader__spinner {
  border: 1.6rem solid #9356DC;
  border-radius: 50%;
  border-top: 1.6rem solid #FF79DA;
  border-bottom: 1.6rem solid #99E2D0;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: relative;
}

.texte {
  text-align: center;
  font-size: smaller;
  margin: 0;
  /*faves*/
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .texte .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-animation: loader-anim 3s ease-in forwards;
            animation: loader-anim 3s ease-in forwards;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}
@media screen and (min-width: 1200px) {
  .texte .loader {
    position: fixed;
    width: 80%;
    height: 80%;
    -webkit-animation: loader-anim 3s ease-in forwards;
            animation: loader-anim 3s ease-in forwards;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}

/*boutons*/
.bouton__commande {
  text-align: center;
  padding: 30px;
}
.bouton__commande .cmmd {
  border: none;
  padding: 15px 30px;
  background: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 40px;
  color: white;
  font-size: 16px;
  padding: 15px 50px;
  box-shadow: 0 4px 8px 0 grey;
}
.bouton__commande .cmmd:hover {
  cursor: pointer;
  opacity: 90%;
  box-shadow: 1px 5px 12px 0 grey;
}

header .logo {
  padding: 1.2rem;
}
header .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loc {
  background-color: #d3d3d3;
  text-align: center;
  flex-basis: 100%;
  padding: 1.1rem;
}
.loc input {
  display: inline;
  background-color: #d3d3d3;
  border: none;
  color: #595959;
  text-align: center;
  font-weight: bold;
}

footer {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding-bottom: 20px;
}
footer .options {
  margin: 0;
  padding-left: 1.5em;
  font-size: smaller;
  font-family: "roboto", "sans-serif";
  display: flex;
  align-items: center;
  color: white;
  padding-top: 0.8em;
}
footer .options p {
  padding-left: 5px;
  margin: 0;
}
footer a:visited {
  color: white;
}
footer .minilogo {
  font-family: "Shrikhand", "cursive";
  margin-left: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  footer {
    font-size: x-large;
    padding-left: 1em;
  }
}
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10% 15%;
}
.explore h2 {
  text-align: center;
  margin-bottom: 0;
}
.explore p {
  text-align: center;
  color: gray;
}
.explore .explore__btn {
  border: none;
  padding: 15px 30px;
  box-shadow: 0 4px 8px 0 grey;
  background: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 40px;
  color: white;
}
.explore .explore__btn:active, .explore .explore__btnfocus {
  outline: 2px;
}
.explore .explore__btn:hover {
  background: linear-gradient(135deg, #9356DC, #FF79DA);
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 800ms;
  opacity: 80%;
  box-shadow: 1px 5px 12px 0 grey;
}

@media screen and (min-width: 1200px) {
  .explore {
    font-size: larger;
    background-color: white;
    padding: 1em;
    flex-basis: 100%;
    width: 100%;
  }
}
.howtouse {
  margin-top: 2rem;
  padding-top: 2rem;
  background: white;
  width: 100%;
}
.howtouse h2 {
  margin-left: 20px;
}
.howtouse .howtouse__steps {
  margin-right: 10%;
  padding-bottom: 1em;
}
.howtouse .howtouse__steps ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.howtouse .howtouse__steps ul .step {
  box-shadow: 0 5px 8px grey;
  border-radius: 1.3em;
  margin-right: 1em;
  padding: 20px 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  transform: scale(1);
  transition: transform 800ms;
}
.howtouse .howtouse__steps ul .step:hover {
  transform: scale(1.1);
  color: #9356DC;
  filter: drop-shadow(0 0 0 1rem black);
}
.howtouse .howtouse__steps ul .step:hover i.fas {
  color: #9356DC;
}
.howtouse .howtouse__steps ul .step .number {
  display: inline;
  height: 2rem;
  width: 2rem;
  background-color: #9356DC;
  text-align: center;
  line-height: 2rem;
  color: white;
  font-weight: 500;
  border-radius: 50%;
  margin-left: -1rem;
  margin-right: 2rem;
}
.howtouse .howtouse__steps ul .step .fas {
  color: grey;
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .howtouse__title {
    text-align: center;
  }
  .howtouse .howtouse__steps {
    margin: auto;
    font-size: larger;
  }
  .howtouse .step {
    max-height: 4em;
    max-width: 60%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .howtouse {
    margin: auto;
    flex-basis: 40%;
    background: transparent;
  }
  .howtouse .howtouse__steps {
    width: auto;
    margin: auto;
  }
  .howtouse .howtouse__steps .step {
    max-width: 80%;
  }
}
/*boutons*/
.bouton__commande {
  text-align: center;
  padding: 30px;
}
.bouton__commande .cmmd {
  border: none;
  padding: 15px 30px;
  background: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 40px;
  color: white;
  font-size: 16px;
  padding: 15px 50px;
  box-shadow: 0 4px 8px 0 grey;
}
.bouton__commande .cmmd:hover {
  cursor: pointer;
  opacity: 90%;
  box-shadow: 1px 5px 12px 0 grey;
}

.restaurants_main {
  background-color: #f2f2f2;
  padding-bottom: 2em;
}

.restaurants h2 {
  padding-top: 2rem;
  margin-left: 20px;
}
.restaurants .boutonnew {
  background-color: #99E2D0;
  border: 2px solid #99E2D0;
  color: darkgreen;
  font-weight: bold;
  position: absolute;
  align-items: center;
  font-family: "roboto";
  display: flex;
  right: 2em;
  top: 1em;
  padding: 0.3em;
  border-radius: 1px;
}
.restaurants .restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  background-color: white;
  margin: 1.3rem;
  box-shadow: 0 4px 8px 0 black;
  position: relative;
}
.restaurants .restaurant__card .restaurant__card-image {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 20px 20px 0 0;
}
.restaurants .restaurant__card .restaurant__card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
.restaurants .restaurant__card .restaurant__card-container .text {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: smaller;
}
.restaurants .restaurant__card .restaurant__card-container .text h3 {
  margin: 0;
  padding-bottom: 5px;
}
.restaurants .restaurant__card .restaurant__card-container .text p {
  margin: 0;
}
.restaurants .restaurant__card .restaurant__card-container .like {
  margin-right: 20px;
}
.restaurants .restaurant__card .restaurant__card-container .like input#restaurant1 {
  display: none;
}
.restaurants .restaurant__card .restaurant__card-container .like .fancy-checkbox input[type=checkbox],
.restaurants .restaurant__card .restaurant__card-container .like .custom-checkbox .checked {
  display: none;
}
.restaurants .restaurant__card .restaurant__card-container .like .custom-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  background: linear-gradient(to bottom, #9356dc 10%, #ff79da);
  color: transparent;
}
.restaurants .restaurant__card .restaurant__card-container .like .custom-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
.restaurants .restaurant__card .restaurant__card-container .like i {
  cursor: pointer;
  font-size: larger;
}
.restaurants .restaurant__card .restaurant__card-container .like .fa-heart {
  -webkit-text-stroke: 1px black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background-position-y: 100px;
  background-repeat: no-repeat;
  transition: 800ms ease all;
}
.restaurants .restaurant__card .restaurant__card-container .like .fa-heart:hover {
  background-position-y: 0;
  -webkit-text-stroke-color: transparent;
}
.restaurants .restaurant__card .restaurant__card-container .like .fa-heart:hover::before {
  -webkit-text-stroke-color: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .restaurants {
    font-size: larger;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants__title {
    text-align: center;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants .restaurant__card {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    margin: auto;
    background: transparent;
  }

  .restaurants {
    font-size: x-large;
    max-width: 1500px;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants .restaurant__card {
    width: 40%;
  }
}
/*boutons*/
.bouton__commande {
  text-align: center;
  padding: 30px;
}
.bouton__commande .cmmd {
  border: none;
  padding: 15px 30px;
  background: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 40px;
  color: white;
  font-size: 16px;
  padding: 15px 50px;
  box-shadow: 0 4px 8px 0 grey;
}
.bouton__commande .cmmd:hover {
  cursor: pointer;
  opacity: 90%;
  box-shadow: 1px 5px 12px 0 grey;
}

/*loader*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-animation: loader-anim 3s ease-in forwards;
          animation: loader-anim 3s ease-in forwards;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

@keyframes loader-anim {
  5% {
    opacity: 1;
  }
  92% {
    opacity: 0.9;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader__logo {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  z-index: 3;
  -webkit-animation: loader-logo 3s ease-in-out;
          animation: loader-logo 3s ease-in-out;
  font-family: "roboto", sans-serif;
}

@keyframes loader-logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale 1;
  }
}
.loader__spinner {
  border: 1.6rem solid #9356DC;
  border-radius: 50%;
  border-top: 1.6rem solid #FF79DA;
  border-bottom: 1.6rem solid #99E2D0;
  width: 12rem;
  height: 12rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: relative;
}

.texte {
  text-align: center;
  font-size: smaller;
  margin: 0;
  /*faves*/
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .texte .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-animation: loader-anim 3s ease-in forwards;
            animation: loader-anim 3s ease-in forwards;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}
@media screen and (min-width: 1200px) {
  .texte .loader {
    position: fixed;
    width: 80%;
    height: 80%;
    -webkit-animation: loader-anim 3s ease-in forwards;
            animation: loader-anim 3s ease-in forwards;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
}

footer {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding-bottom: 20px;
}
footer .options {
  margin: 0;
  padding-left: 1.5em;
  font-size: smaller;
  font-family: "roboto", "sans-serif";
  display: flex;
  align-items: center;
  color: white;
  padding-top: 0.8em;
}
footer .options p {
  padding-left: 5px;
  margin: 0;
}
footer a:visited {
  color: white;
}
footer .minilogo {
  font-family: "Shrikhand", "cursive";
  margin-left: 20px;
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  footer {
    font-size: x-large;
    padding-left: 1em;
  }
}
header .logo {
  padding: 1.2rem;
}
header .logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loc {
  background-color: #d3d3d3;
  text-align: center;
  flex-basis: 100%;
  padding: 1.1rem;
}
.loc input {
  display: inline;
  background-color: #d3d3d3;
  border: none;
  color: #595959;
  text-align: center;
  font-weight: bold;
}

/*general*/
/*html, titres, police, container etc*/
body {
  font-family: "roboto", "sans serif";
}
body a {
  text-decoration: none;
}

.main {
  background-color: #f2f2f2;
  padding-bottom: 2em;
}

/*loader*/
/*pages*/
/*like*/
.like {
  margin-right: 20px;
}
.like .custom-checkbox {
  background: transparent;
}
.like input#restaurant1 {
  display: none;
}
.like .fancy-checkbox input[type=checkbox],
.like .custom-checkbox .checked {
  display: none;
}
.like .custom-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
}
.like .custom-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
.like i {
  cursor: pointer;
  font-size: larger;
}
.like .fas {
  -webkit-text-stroke: 1px black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  background-position-y: 100px;
  background-repeat: no-repeat;
  transition: 800ms ease all;
}
.like .fas:hover {
  background-position-y: 0;
  -webkit-text-stroke-color: transparent;
}
.like .fas:hover::before {
  -webkit-text-stroke-color: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  -webkit-text-fill-color: transparent;
}

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  background-color: #f2f2f2;
}
body a {
  text-decoration: none;
}
body a .containerall {
  background-color: #f2f2f2;
}
body header {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  height: 3.5rem;
  background-color: white;
}
body header .logo {
  padding: 1.2rem;
  margin: auto;
}
body header .logo img {
  width: 150px;
}
body header .goback {
  font-size: larger;
  color: black;
}
body header a:visited {
  color: black;
}
body .image_logo {
  width: 100%;
  height: 15rem;
  margin-top: 0;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
body .main {
  border-radius: 40px 40px 0 0;
  transform: translateY(-30px);
  overflow: overlay;
}
body .main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body .main__title {
  font-family: "Shrikhand", cursive;
}

.menu__full {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
  padding: auto;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 1em;
  max-width: 500px;
  font-size: medium;
  box-shadow: 0 4px 8px 0 grey;
  opacity: 0;
  height: 60px;
}

.item1 {
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.item2 {
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.item3 {
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes slidein {
  from {
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__dishes {
  margin-bottom: 3em;
}

.menu__dishes__name {
  margin-left: 20px;
  font-variant-caps: all-petite-caps;
  border-bottom: #99E2D0 2px solid;
  width: 25px;
}

.menu__dish {
  overflow: hidden;
  margin: 1em;
  font-size: smaller;
  width: calc(100% - 20px - 40px);
}
.menu__dish strong {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__dish span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu__price {
  margin-bottom: 1em;
  margin-right: 1em;
  font-size: small;
  font-weight: 600;
  transition: ease-in-out all 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 25px;
}

.menu__check {
  background-color: #99E2D0;
  width: 0;
  height: 100%;
  left: 100%;
  transition: all 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__check .fa-check-circle {
  color: white;
  font-size: xx-large;
  transform: rotate(-180deg);
  transition: transform 0 0.5s 0.2s ease-in-out;
}

input {
  display: none;
}
input:checked + label .menu__price, input + label:hover .menu__price, input + label:focus .menu__price {
  width: 1.5em;
}
input:checked + label .menu__check, input + label:hover .menu__check, input + label:focus .menu__check {
  width: 40%;
}
input:checked + label .fa-check-circle, input + label:hover .fa-check-circle, input + label:focus .fa-check-circle {
  transition: transform 0.5s 0.2s ease-in-out;
  transform: rotate(0);
}

@media (min-width: 768px) {
  .containerall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .containerall header {
    flex-basis: 100%;
  }

  body .image_logo {
    height: 30em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 1200px;
    font-size: larger;
  }
  .menu .menu__group {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    margin: 10px;
  }

  .cardlike {
    padding-left: 50px;
  }

  .bouton__commande {
    flex-basis: 100%;
  }

  .main__header {
    justify-content: center;
    flex-basis: 100%;
  }

  header {
    width: 70%;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .image_logo {
    max-width: 1500px;
    border-radius: 40px 40px 0 0;
  }

  body {
    margin: auto;
  }
  body .menu__full {
    font-size: large;
  }
}/*# sourceMappingURL=main.css.map */