.howtouse {
  margin-top: 2rem;
}

.howtouse h2 {
  margin-left: 20px;
}

.howtouse .howtouse__steps {
  margin-right: 10%;
}

.howtouse .howtouse__steps ul {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
}

.howtouse .howtouse__steps ul .step {
  -webkit-box-shadow: 0 0 0.8rem black;
          box-shadow: 0 0 0.8rem black;
  border-radius: 50px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.howtouse .howtouse__steps ul .step:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #9356DC;
  background-color: #FF79DA;
  -webkit-filter: drop-shadow(0 0 0 1rem black);
          filter: drop-shadow(0 0 0 1rem black);
}

.howtouse .howtouse__steps ul .step:hover i.fas {
  color: #9356DC;
}

.howtouse .howtouse__steps ul .step .number {
  display: inline;
  height: 2rem;
  width: 2rem;
  background-color: #9356DC;
  text-align: center;
  line-height: 2rem;
  color: white;
  font-weight: 500;
  border-radius: 50%;
  margin-left: -1rem;
  margin-right: 2rem;
}

.howtouse .howtouse__steps ul .step .fas {
  color: grey;
  margin-right: 1.5rem;
}

@media (min-width: 768px) {
  .howtouse .howtouse__steps {
    margin: auto;
  }
  .howtouse .step {
    height: 4em;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .howtouse .howtouse__steps {
    width: 50%;
    margin: auto;
  }
  .howtouse .howtouse__steps .step {
    height: 4em;
    width: 70%;
  }
}

.explore {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10% 15%;
}

.explore h2 {
  text-align: center;
  margin-bottom: 0;
}

.explore p {
  text-align: center;
  color: gray;
}

.explore .explore__btn {
  border: none;
  padding: 15px 30px;
  background: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 40px;
  color: white;
}

.explore .explore__btn:active, .explore .explore__btnfocus {
  outline: 0;
}

.explore .explore__btn:hover {
  background: linear-gradient(135deg, #9356DC, #FF79DA);
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .logo {
  padding: 1.2rem;
}

header .logo img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loc {
  background-color: #d3d3d3;
  text-align: center;
  padding: 1.1rem;
}

.loc input {
  background-color: #d3d3d3;
  border: none;
  color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #535353;
  padding-bottom: 20px;
}

footer .options {
  margin-left: 20px;
  padding-top: 10px;
  font-family: 'roboto', 'sans-serif';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

footer .options p {
  padding-left: 5px;
  margin: 0;
}

footer a:visited {
  color: white;
}

footer .minilogo {
  font-family: 'Shrikhand', 'cursive';
  margin-left: 20px;
  padding-top: 10px;
}

.restaurants h2 {
  padding-top: 2rem;
  margin-left: 20px;
}

.restaurants .boutonnew {
  background-color: #99E2D0;
  border: 2px solid #99E2D0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 200;
  font-family: 'roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 2em;
}

.restaurants .restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  background-color: white;
  margin: 1.3rem;
  -webkit-box-shadow: 0 4px 8px 0 black;
          box-shadow: 0 4px 8px 0 black;
  position: relative;
}

.restaurants .restaurant__card .restaurant__card-image {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 10rem;
  border-radius: 20px 20px 0 0;
}

.restaurants .restaurant__card .restaurant__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .restaurant__card .restaurant__card-container .text {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-size: smaller;
}

.restaurants .restaurant__card .restaurant__card-container .text h3 {
  margin: 0;
  padding-bottom: 5px;
}

.restaurants .restaurant__card .restaurant__card-container .text p {
  margin: 0;
}

.restaurants .restaurant__card .restaurant__card-container .like {
  margin-right: 20px;
  margin-top: 20px;
}

.restaurants .restaurant__card .restaurant__card-container .like i {
  cursor: pointer;
  font-size: larger;
}

.restaurants .restaurant__card .restaurant__card-container .like .far:hover {
  background: linear-gradient(135deg, #FF79DA, #9356DC);
}

@media (min-width: 768px) {
  .restaurants .restaurant__card-container {
    margin-top: 10px;
  }
  .restaurants h2 {
    padding-top: 2rem;
    margin-left: 20px;
  }
  .restaurants .boutonnew {
    background-color: #99E2D0;
    border: 2px solid #99E2D0;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 200;
    font-family: 'roboto';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body {
  font-family: 'roboto', 'sans serif';
}

body a {
  text-decoration: none;
}

.main {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants .restaurant__card {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 80%;
    margin: auto;
  }
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants .restaurant__card {
    width: 65%;
    height: 15em;
  }
  .explore {
    height: 0.2em;
  }
}
/*# sourceMappingURL=main.css.map */