
  @import "./composants/howtouse";
  @import "./composants/explore";
  @import "./composants/header";
  @import "./composants/footer";
  @import "./composants/restaurants";
  @import "./variables";
  

body
{
    font-family: 'roboto', 'sans serif';
      a
      {text-decoration: none;}
}

     

  .main {
      background-color: $primary-color;
      padding-bottom: 20px;
    
  }


  

       

@media(min-width: 768px)

{
.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
       h2{width: 100%;
    }
    .restaurant__card {width: 30%; }
       .new {position:relative;}

    .boutonnew { background-color: #99E2D0;
        border:2px solid #99E2D0;
        position: absolute;
        right: 3em;
        bottom:2em;
        z-index: 200;
        margin-right: 18em;
        margin-top: 20px;
        font-family: 'roboto';
        
    } 
}

.explore {height: 1em;}
}



@media screen and (min-width: 1200px)

{
    body{
        width: 80%;
        margin: auto;
    }
.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
       h2{width: 100%;

        .boutonnew { background-color: #99E2D0;
            border:2px solid #99E2D0;
            position: absolute;
            right: 3em;
            bottom:3em;
            z-index: 200;
            margin-right: 18em;
            margin-top: 20px;
            font-family: 'roboto';
            
        } 
    }
    .restaurant__card {width: 65%;
        height: 15em;
        .new {position:relative;}
    }
}

.explore { height: 0.2em;}
}