@import "./composants/footer";
@import "./composants/header";
@import "./variables";



body {
    font-family: 'roboto', sans-serif;
      a {text-decoration: none;}
      width: 100%;
}


header {
    display: flex;
    align-items: center;
    height: 3.5rem;
     .logo {padding: 1.2rem;
        align-self:center;
         margin-left: 15%;}
    .goback {font-size: larger;}
      
}
.image_logo
{
    width: 100%;
    height: 15rem;
    margin-top: 0;
    overflow: hidden;
    object-fit: cover;
    
}

.main{
    background-color: $primary-color;
    border-radius: 20px;
    margin-top: -30px;
    overflow: overlay;
.main__header { display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
     .main__title {
         font-family: 'Shrikhand',cursive;
         margin-left: 20px;}
        
        
 .like {margin-right: 20px;}}


    .main__name {margin-left:20px;
    font-variant-caps: all-petite-caps;}

    .main__card{
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 1.3rem;
        background-color: $secondary-color;
        margin: 1em 1.3em 1em 1.3em;
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0 / 5%);
        height: 70px;
        .main__card__descr { display: flex; justify-content: space-around;
            ;
             .main__card__descr__text { flex-basis: 70%;
                margin-left: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                color: black;
                font-size: smaller;
                   
                   h3 {margin:0;
                    padding-bottom: 5px; flex-wrap: nowrap; font-size: smaller;}
                  p {margin:0; padding-top: 5px; font-size: small;}
                }
            .main__card__descr__price {
                display: flex;
                align-items: flex-end;
                font-size: smaller;
            }
        
              }
    }

}

       

.bouton__commande { text-align: center; padding: 30px;
    .cmmd {
        border: none;
        padding: 15px 30px;
        background: linear-gradient(135deg,#FF79DA, #9356DC);
        border-radius: 40px;
        color:$secondary-color;
        font-size: 16px;
        padding: 15px 70px;
    
     }

}

