@import '../../utils/variables';

.howtouse {
    margin-top: 2rem;
    padding-top: 2rem;
    background: $secondary-color;
    width: 100%;
    h2 {
           margin-left: 20px;}
    .howtouse__steps {
       margin-right: 10%;
       padding-bottom: 1em;
       ul {
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 100%;
           
          
           
       .step {box-shadow: 0 5px 8px grey;
       border-radius: 1.3em;
       margin-right: 1em;;
       padding: 20px 0 ;
    display: flex;
       align-items: center;
       width: 100%;
       background-color: #f6f6f6;
       margin-bottom: 20px;
       transform: scale(1);
       transition: transform 800ms;
       &:hover {
           transform: scale(1.1);
           color: $primary-elem-color;
           filter: drop-shadow(0 0 0 1rem black);
           i.fas {
               color:$primary-elem-color;
           }
       }
     
       
           .number {
               display: inline;
               height: 2rem;
               width: 2rem;
               background-color: $primary-elem-color;
               text-align: center;
               line-height: 2rem;
               color: $secondary-color;
               font-weight: 500;
               border-radius: 50%;
               margin-left: -1rem;
               margin-right: 2rem;
           }
           .fas {color: grey;
           margin-right: 1.5rem;
           }
        
}

       }}
     
}



@media(min-width: 768px)

{
.howtouse{
    &__title {text-align: center;}
    .howtouse__steps{
        margin: auto;
        font-size: larger;
        

    }
    .step {max-height: 4em;
    max-width: 60%;
    
}
}


@media screen and (min-width: 1200px){

.howtouse
{
    flex-basis: 40%;
    background: transparent;
    .howtouse__steps{
        width: auto;
        margin:auto;

    .step {
        
        max-width: 100%; }
    
    }
}

}
}