@import '../../utils/variables';
@import '../../composants/buttons';


.restaurants_main {background-color: $primary-color;}

.restaurants {
    h2{ 
        padding-top: 2rem;
        margin-left: 20px;
    }
     .boutonnew { background-color: $tertiary-elem-color;
    border:2px solid $tertiary-elem-color;
    color: darkgreen;
    font-weight: bold;
    position: absolute;
    align-items: center;
    font-family: 'roboto';
    display: flex;
    right: 2em;
    top: 1em;
    padding: 0.3em;
    border-radius: 1px;
    
} 

    .restaurant__card {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        margin-bottom: 1.3rem;
        background-color: $secondary-color;
        margin: 1.3rem;
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0 );
        position: relative;
      
        
    

         .restaurant__card-image{
           overflow: hidden;
           object-fit: cover;
           width: 100%;
           height: 10rem;
           border-radius: 20px 20px 0 0;
           
         }
           
        .restaurant__card-container{
           display: flex;
           flex-direction:row;
           justify-content:space-between;
           align-items: center;
           max-height: max-content;
           .text{
               margin-left: 10px;
               margin-top: 10px;
               margin-bottom: 10px;
               color: black;
               font-size: smaller;
                h3 {margin:0;
              padding-bottom: 5px;}
                p {margin:0;}

           }
           .like{
               margin-right: 20px;
          

               input#restaurant1 {display:none;}

               .fancy-checkbox input[type="checkbox"],
               .custom-checkbox .checked {
                 display: none;
               }
               
               .custom-checkbox input[type="checkbox"]:checked~.checked {
                display: inline-block;
                background: linear-gradient(to bottom, #9356dc 10%, #ff79da);
                color: transparent;
              
              }
              .custom-checkbox input[type="checkbox"]:checked~.unchecked {
                display: none;}
            
             i { cursor: pointer;
            font-size: larger;}


             .fa-heart { -webkit-text-stroke:1px black;
              background-clip: text;
              -webkit-background-clip: text; 
              color: transparent;
              background-image: linear-gradient(to top,#9356DC 0%, #FF79DA 100%);
              background-position-y: 100px;
              background-repeat: no-repeat;
              transition: 800ms ease all;
               &:hover {
                background-position-y: 0;
                -webkit-text-stroke-color: transparent;

               &::before {
                -webkit-text-stroke-color: linear-gradient(to top,#9356DC 0%, #FF79DA 100%);
                -webkit-text-fill-color: transparent;
              }

              }
                    }
           }
         
       }

    }
}

@media(min-width: 768px)

{
  

.restaurants {

  .restaurant__card-container {
    margin-top: 10px;
    
  }
h2{ 
      padding-top: 2rem;
      margin-left: 20px;
  }
 .boutonnew { background-color: $tertiary-elem-color;
  border:2px solid $tertiary-elem-color;
  position: absolute;
  align-items: center;
  font-family: 'roboto';
  display: flex;
  
  
} 
}

}




@media(min-width: 768px)

{
.restaurants { font-size: larger;
  &__title {text-align: center;}
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
       h2{width: 100%;
    }
    .restaurant__card {width: 30%; }
    

    
    } 
}





@media screen and (min-width: 1200px)

{
    body{
     
        margin: auto;
        background: transparent;
    }


  .desktop {display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-size: larger;
  background: $secondary-color;
  padding-top: 2em;
  margin-bottom: 2em;
  .restaurants_main {flex-basis: 50%;
  border-radius: 1em;
margin-left: 5em;
margin-bottom: 2em;}
}
.restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
       h2{width: 100%;}

    .restaurant__card {width: 65%;
        max-height: max-content;
        transform: scale(1);
        transition: transform 800ms;
        &:hover {
          transform: scale(1.1);
          filter: drop-shadow(0 0 0 1rem black);
        }
       
    }
}

.explore { height: 0.2em;}
}