footer {
    

    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    color: white;
    background-color: #353535;
    padding-bottom: 20px;
    .options {
    margin: 0;
    padding-left: 1.5em;
    font-size: smaller;
    font-family: 'roboto', 'sans-serif';
    display: flex;
    align-items: center;
    color: white;
    padding-top: 0.8em;
   

    
          p {
              padding-left: 5px;
              margin: 0;
          }}
        a:visited {
        color: white;}
        .minilogo{
            font-family: 'Shrikhand', 'cursive';
            margin-left: 20px;
            padding-top: 10px;
        }
      
     
    }


    @media screen and (min-width: 1200px)
{
    footer {
    font-size: x-large;
padding-left: 1em;}
}