/*boutons*/

.bouton__commande { text-align: center; padding: 30px;
    .cmmd {
        border: none;
        padding: 15px 30px;
        background: linear-gradient(135deg,#FF79DA, #9356DC);
        border-radius: 40px;
        color:$secondary-color;
        font-size: 16px;
        padding: 15px 50px;
        box-shadow: 0 4px 8px 0 grey;

         &:hover {cursor: pointer;
        opacity: 90%;
        box-shadow: 1px 5px 12px 0 grey;

    } } 
        
        
        }
    
