
@import "../variables";

.howtouse {
    margin-top: 2rem;
    h2 {
           margin-left: 20px;}
    .howtouse__steps {
       margin-right: 10%;
       ul {padding: 2rem ;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           width: 100%;
           padding: 2rem;
           
       .step {box-shadow: 0 0 0.8rem black;
       border-radius: 50px;
       padding: 20px 0 ;
    display: flex;
       align-items: center;
       width: 100%;
       background-color: $primary-color;
       margin-bottom: 20px;
     
       
           .number {
               display: inline;
               height: 2rem;
               width: 2rem;
               background-color: $primary-elem-color;
               text-align: center;
               line-height: 2rem;
               color: $secondary-color;
               font-weight: 500;
               border-radius: 50%;
               margin-left: -1rem;
               margin-right: 2rem;
           }
           .fas {color: grey;
           margin-right: 1.5rem;
           }
         .fas:hover { color:$primary-elem-color;}
}

       }}
     
}
.howtouse {
    .howtouse__steps {
        .step:hover, {color: $primary-elem-color;
          

    }}


@media(min-width: 768px)

{
.howtouse{
    .howtouse__steps{
        width: 50%;
        margin: auto;
        

    }
    .step {height: 4em;
    width: 70%;}
}
}


@media screen and (min-width: 1200px){

.howtouse
{
    .howtouse__steps{
        width: 50%;
        margin:auto;

    .step {
        height: 4em;
        width: 70%;

    }
    
    }
}

}