/*general*/


/*html, titres, police, container etc*/

body
{
    font-family: 'roboto', 'sans serif';
      a
      {text-decoration: none;}
}

     

  .main {
      background-color: $primary-color;
      padding-bottom: 2em;
    
  }
